* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mask {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #28282a;
}
.mask .login {
  width: 655px;
  height: 377px;
  background-color: #fff;
  margin: 127px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mask .login ul {
  list-style: none;
  display: flex;
  width: 59%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.mask .login ul li {
  width: 67px;
  height: 67px;
}
.mask .login ul li img {
  width: 100%;
  height: 100%;
}
.mask .login .top {
  text-align: center;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 550;
}
.mask .login .bottom {
  display: flex;
  width: 90%;
  font-size: 18px;
  flex-direction: column;
}
.mask .login .bottom span {
  margin: 10px 0;
}
.mask .login .bottom input {
  height: 30px;
}
.mask .login .button {
  font-size: 20px;
  width: 166px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #63dd3d;
}
.con {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.con .left {
  color: white;
  width: 28vw;
  height: 100vh;
  background-color: #28282a;
}
.con .left .user {
  display: flex;
  height: 12vh;
  align-items: center;
  border-bottom: 1px solid #28282a;
  box-shadow: -5px 1px 10px #1d1d1f;
}
.con .left .user img {
  width: 20%;
  height: 62%;
  margin: 10px;
}
.con .left .user_list .ul {
  height: 81vh;
  overflow-y: scroll;
}
.con .left .user_list .ul::-webkit-scrollbar {
  display: none;
}
.con .left .user_list .user_list_span {
  height: 7vh;
  line-height: 7vh;
  padding-left: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: -5px 1px 10px #1d1d1f;
}
.con .left .user_list .item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #28282a;
  box-shadow: -5px 1px 10px #1d1d1f;
}
.con .left .user_list .item img {
  width: 20%;
  height: 20%;
  margin: 10px;
}
.con .right {
  width: 72vw;
  height: 100vh;
  background-color: #eee;
}
.con .right .header {
  height: 8vh;
  text-align: center;
  line-height: 8vh;
  border-bottom: 1px solid gray;
  margin: 0 2vw;
  font-size: 20px;
}
.con .right .chat {
  height: 63vh;
  overflow-y: scroll;
  border-bottom: 1px solid gray;
}
.con .right .chat .msg_system {
  text-align: center;
  font-size: 13px;
  color: gray;
  height: 3vh;
  margin-top: 5px;
}
.con .right .chat .msg_self {
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
}
.con .right .chat .msg_self img {
  margin-left: 10px;
  width: 5vh;
  height: 5vh;
}
.con .right .chat .msg_self span {
  position: relative;
  max-width: 30vw;
  min-height: 5vh;
  padding: 10px;
  overflow-wrap: anywhere;
  background: #77cfa3;
  font-size: 16px;
  border-radius: 5px;
}
.con .right .chat .msg_self span::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -12px;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #77cfa3;
  border-right: 13px solid transparent;
  border-top: 13px solid transparent;
  transform: translate(10px, 10px);
}
.con .right .chat .msg_others {
  margin: 5px 0;
  display: flex;
}
.con .right .chat .msg_others img {
  width: 5vh;
  height: 5vh;
  margin-right: 10px;
}
.con .right .chat .msg_others div {
  max-width: 35vw;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
}
.con .right .chat .msg_others div span:nth-child(1) {
  font-size: 12px;
  color: gray;
}
.con .right .chat .msg_others div span:nth-child(2) {
  position: relative;
  max-width: 30vw;
  min-height: 5vh;
  padding: 10px;
  overflow-wrap: anywhere;
  background: #77cfa3;
  font-size: 16px;
  border-radius: 5px;
}
.con .right .chat .msg_others div span:nth-child(2)::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -31px;
  border-bottom: 13px solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid #77cfa3;
  border-top: 13px solid transparent;
  transform: translate(10px, 10px);
}
.con .right .chat::-webkit-scrollbar {
  display: none;
}
.con .right .send {
  height: 29vh;
}
.con .right .send div:nth-child(1) {
  display: flex;
  padding: 5px 0 5px 10px;
  height: 5vh;
}
.con .right .send div:nth-child(1) span {
  margin-left: 5px;
  width: 4vh;
  height: 4vh;
}
.con .right .send div:nth-child(1) span:nth-child(1) {
  cursor: pointer;
  background: url('http://qhtwg8x46.hb-bkt.clouddn.com/smile.png') no-repeat;
  background-size: 100%, 100%;
}
.con .right .send div:nth-child(1) span:nth-child(2) {
  background: url('http://qhtwg8x46.hb-bkt.clouddn.com/shear%20%281%29.png') no-repeat;
  background-size: 80%, 80%;
}
.con .right .send div:nth-child(1) label {
  cursor: pointer;
  margin-left: 5px;
  width: 4vh;
  height: 4vh;
  background: url('http://qhtwg8x46.hb-bkt.clouddn.com/file.png') no-repeat;
  background-size: 100%, 100%;
}
.con .right .send div:nth-child(2) {
  height: 18vh;
}
.con .right .send div:nth-child(2) #content {
  padding-left: 10px;
  font-size: 25px;
  width: 100%;
  height: 18vh;
  outline: none;
  border: none;
  background: #eee;
  overflow-wrap: anywhere;
  overflow-y: auto;
}
.con .right .send div:nth-child(2) #content img {
  width: 3vw;
  height: 3vw;
}
.con .right .send div:nth-child(2) #content::-webkit-scrollbar {
  display: none;
}
.con .right .send div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.con .right .send div:nth-child(3) span {
  font-size: 13px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: gray;
}
.con .right .send div:nth-child(3) button {
  margin-right: 10px;
  width: 9vw;
}
.active {
  width: 20vw;
  height: 31vh;
}
